.dt-search{
    float:right;
}
.modal-title{
    color:black;
}
.note-form-label{
    color:black; 
}
.form-check-label{
    color:black; 
}
.note-input{
    border: 2px solid black;
}
.success-msg{
    color: #83ff9a;
}
.error-msg{
    color: #f1baba;
}